{% extends "master.html" %}

{% block title %}
    Details about {{ myitem.name }}
{% endblock %}

{% block content %}
    <h1>{{ myitem.name }} </h1>
    
    <h3>Category: {{ myitem.category }}</h3>
    <h4>Tags:</h4> 
    {% for tag in myitem.tags.all %}
    {{ tag.name }}
    <br>
    {% empty %}
        No tags assigned
    {% endfor %}
    <p>Description: {{ myitem.description }}</p>
    <p>Created at: {{ myitem.created_at }}</p>
    <p>Updated at: {{ myitem.updated_at }}</p>

    <p>Back to <a href="/items">Items</a></p>

{% endblock %}
